/******************************************************
*
* MIXINS/_SIZE.LESS
*
* Description:
* generate height and width values.
* if only one argument is given, generate a square
* if 2 arguments (width and height): generate a rectangle
* if 4 arguments (index, index2, column width and gutterWidth),
* generate a rectangle with a width of col-index 
* and a height of col-index2
*
* Requiered:
* a gridBasic should be set up first
*
*******************************************************/

.size(@square) when (isnumber(@square)){
    width: @square;
    height: @square;
}

.size(@width, @height) when (isnumber(@width)) and (isnumber(@height)){
	width: @width;
	height: @height;
}

.size(@index, @index2, @columnWidth: @gridColumnWidth, @gutterWidth: @gridGutterWidth) when (isnumber(@width)) and (isnumber(@height)){
	width: (@columnWidth * @index) + (@gutterWidth * (@index - 1));
	height: (@columnWidth * @index2) + (@gutterWidth * (@index2 - 1));
}